@font-face {
    font-family: 'pokemon';
    src: url('fonts/pokemon-solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'retro-gaming';
    src: url('fonts/retro-gaming.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: rgb(24, 22, 22);
    color: white;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "retro-gaming";
}

h1 {
    font-family: 'pokemon';
    color: yellow;
    font-size: 400%;
    -webkit-text-stroke: 0.5px blue;
    letter-spacing: 5px;
    border: 0;
    padding: 0;
    margin: 0;
}

#poketablero {
    background-color: rgb(24, 22, 22);
    color: rgb(24, 22, 22);
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    width: 90%;
}

img {
    height: 90;
}

p {
    padding: 0;
    margin: 0;
}

.pokeficha {
    width: 17%;
    height: 120px;
    background-color: rgb(235, 235, 235);
    border-color: rgb(206, 203, 190);
    border-width: 500px;
    border-radius: 10px;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 2% 0 1% 0;
    box-shadow: inset 10px 10px 20px grey;
    cursor: pointer;
}

#indice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0% 7% 0% 7%;
}

.pagina {
    color: white;
    width: 10.5%;
    background-color: rgb(207, 48, 48);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 1.5px 3px rgb(236, 109, 109);
    cursor: pointer;
    padding: 0.5% 0;
    margin-bottom: 2%;
}

#info-pokemon {
    width: 35%;
    height: 300px;
    background-color: rgb(235, 235, 235);
    border-color: rgb(206, 203, 190);
    border-radius: 10px;
    margin: 1%;
    padding: 2% 0 1% 0;
    box-shadow: 10px 10px 20px grey;
    position: fixed;
    top: 30%;
    left: 30%;
    color: rgb(24, 22, 22);
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo {
    display: flex;
    justify-content: space-between;
    font-size: 250%;
}

.detalles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#cerrar-detalles {
    align-self: flex-end;
    right: 5%;
    top: 2%;
    position: absolute;
    cursor: pointer;
}