@font-face {
    font-family: 'pokemon';
    src: url('fonts/pokemon-solid.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'retro-gaming';
    src: url('fonts/retro-gaming.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: rgb(24, 22, 22);
    color: white;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "retro-gaming";
}

h1 {
    font-family: 'pokemon';
    color: yellow;
    font-size: 400%;
    -webkit-text-stroke: 0.5px blue;
    letter-spacing: 5px;
    border: 0;
    padding: 1%;
    margin: 0;
}

#poketablero {
    color: rgb(24, 22, 22);
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6, 70px);
    width: 90%;
    gap: 10px;
    padding: 3%;
}

img {
    width: 90%;
    
}



.pokeficha {
    height:60px;
    background-color: rgb(235, 235, 235);
    border-color: rgb(206, 203, 190);
    border-width: 500px;
    border-radius: 10px;
    font-size:x-large;
    text-align: center;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 10px 10px 20px grey;
    cursor: pointer;
}

#indice {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 10px;
    
    align-self: center;}

.pagina {
    color: white;
    background-color: rgb(207, 48, 48);
    padding: 3px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 1.5px 3px rgb(236, 109, 109);
    cursor: pointer;
    
}

.seleccionada{
    background-color: rgb(236, 109, 109);
    box-shadow: 0px 1.5px 3px rgb(236, 109, 109), inset 0px 5px 5px rgb(233, 81, 81);
}

#info-pokemon {
    width: 35%;
    height: 300px;
    background-color: rgb(235, 235, 235);
    border-color: rgb(206, 203, 190);
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    box-shadow: 10px 10px 20px grey;
    position: fixed;
    top: 30%;
    left: 30%;
    color: rgb(24, 22, 22);
    display: grid;
    grid-template-columns: 2.7fr 1fr 1fr 0.3fr;
    grid-template-rows: 70px 200px;
    grid-template-areas: 'nombre nombre id close'
    'foto detalles detalles detalles';
}
.nombre{
    font-size: 200%;
    grid-area: nombre;
}

.id-pokemon{
    font-size: 200%;
    grid-area: id;
}


.cerrar-detalles{
    font-size: 150%;
    grid-area: close;
    cursor: pointer;
    right: -20%;
    top: -40%;

}



.foto{
    grid-area: foto;
}

.detalles {
    grid-area: detalles;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cerrar-detalles {
   
    position: absolute;
    cursor: pointer;
}